*, ::before, ::after{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background: url("https://media.gettyimages.com/id/1207663571/photo/empty-pavement-with-modern-architecture.jpg?s=612x612&w=gi&k=20&c=HOXes9ocKgFP2JGi8XGHz2SRs3Rrvmyu2Q6UQ8e5bI4=");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    border-radius: 5px;
    border: none;
    padding: 0.2em 0.4em;
}

button:hover{
    color: white;
    background: black;
}
  
.weather-app-container{
    background-image: url("https://images.pexels.com/photos/2448749/pexels-photo-2448749.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px grey;
    padding: 1.5em;
}

.time-and-date{
    text-align: center;
    font-size: 1.3rem;
    margin-top: 0.5em;
}

.input-box{
    margin-top: 1em;
    margin-bottom: 2em;
    border: 1px solid white;
    border-radius: 7px;
    padding: 0.3em;
    width: 250px;
    text-align: center;
}

.icon{
    text-align: center;
    font-size: 80px;
    color: white;
    margin-bottom: 0.2em;
}

.weather-details{
    text-align: center;
    color: white;
}

.temp-report{
    font-size: 2.5rem;
}

.city-report{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1em;
}